.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 256px;
  width: auto; /* Permite que el ancho se ajuste proporcionalmente */
  max-width: 100%;
}
